<div class="l-body__extra">
    <div class="l-body__extra__i">
        <div class="b-tex">
            <div class="b-tex__r">
                <div class="b-tex__b b-tex__b_br">
                    <div class="b-frame b-frame_flow">
                        <div class="b-frame__i"><a href="https://vk.com/oldoftanks_pw" target="_blank"
                                style="border-width:0;"><img
                                    src="/assets/img/c8bad953146113f92d11f15937187323750f789f.jpg" alt="" width="217"
                                    height="103" style="border-width:0"></a></div>
                    </div>
                    <div class="b-frame b-frame_flow" style="margin: 26px 0 10px;">
                        <div class="b-frame__i"><a href="https://muramiha.github.io/oot_prem_shop" target="_blank"
                                style="border-width:0;"><img src="/assets/img/shop.png" alt="" width="217" height="103"
                                    style="border-width:0"></a></div>
                    </div>
                    <div class="b-frame b-frame_flow" style="margin: 33px 0px 10px;">
                        <div class="b-frame__i">
                            <a href="https://wotclassic.github.io/" target="_blank" style="border-width:0;">
                                <img src="/assets/img/wotclassic.png" alt="" width="217" height="103" style="border-width:0">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>