<div class="l-footer">
    <div class="l-footer__i">
        <ul class="foo-copy">
            <li class="foo-copy__wg">
                <a href="https://eu.wargaming.net/en"><i></i>© 2009–2024
                    <br>
                    <em>Wargaming.net</em> ®
                    <br>Дизайн сайта принадлежит Wargaming.net.
                </a>
            </li>
            <li class="foo-copy__bw" style="margin-top: -10px;">
                <a href="https://unity.com/">
                    <i style="margin-bottom: 15px;"></i>Powered by
                    <br>
                    <em>Unity</em>
                </a>
            </li>
        </ul>
    </div>
</div>