<h2>{{ include.name }}</h2>
<ul class="b-gc__thumb">		   
    <li class="item  first">
        <a href="{{ include.img1 }}">
            <img width="148" height="93" src="{{ include.img1 }}">
        </a>
    </li>
    <li class="item ">
        <a href="{{ include.img2 }}">
            <img width="148" height="93" src="{{ include.img2 }}">
        </a>
    </li>
    <li class="item ">
        <a href="{{ include.img3 }}">
            <img width="148" height="93" src="{{ include.img3 }}">
        </a>
    </li>
</ul>
<a class="btn-watch-more" href="{{ include.url | relative_url }}">
    <span>Watch more</span>
</a>