<div class="b-webs">
    <div class="b-panel b-panel_small">
        <div class="b-panel__t">
            <div></div>
        </div>
        <div class="b-panel__r">
            <div class="b-panel__l">
                <div class="b-panel__i">
                    <ul class="b-webs__i">
                        <li class="b-webs__vk">
                            <a href="https://discord.com/invite/79PyGpaNsr">
                                <i style="background-position: 0px 0px;"></i>Discord
                            </a>
                        </li>
                        <li class="b-webs__vk">
                            <a href="https://vk.com/oldoftanks_pw"><i></i>Вконтакте</a>
                        </li>
                        <li class="b-webs__yt">
                            <a href="https://www.youtube.com/@oldoftanks_officialchannel"><i></i>YouTube</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="b-panel__b">
            <div></div>
        </div>
    </div>
</div>