<div class="b-frames-lr">
    <div class="b-frame b-frames-lr__l">
        <div class="b-frame__i">
            <a href="https://discord.com/invite/79PyGpaNsr" target="_blank" style="border-width:0;">
                <img src="/assets/img/t23e3.png" alt="" width="254" height="98" style="border-width:0">
            </a>
        </div>
    </div>
    <div class="b-frame b-frames-lr__r">
        <div class="b-frame__i">
            <a href="tech_trees.html" target="_blank" style="border-width:0;">
                <img src="/assets/img/media.png" alt="" width="254" height="98" style="border-width:0">
            </a>
        </div>
    </div>
</div>