---
layout: default
---

<div class="l-body__section">
    <div class="l-body__section__i">
        <div class="b-tex">
            <div class="b-tex__b">
                <div class="b-tex__lr" style="min-height: 935px;">
                    <div class="b-panel">
                        <div class="b-panel__t">
                            <div></div>
                        </div>
                        <div class="b-panel__r">
                            <div class="b-panel__l">
                                <div class="b-panel__i bp__minheight">
                                    <div class="h-ugc">
                                        <div class="b-crumbs">
                                            <a href="{{ '/' | relative_url }}">Главная</a>
                                            <i class="darr"></i>
                                        </div>
                                        <h2 class="title" style="margin-top: 0;">{{ page.title }}</h2>
                                    <div class="h-ugc">
                                        <div>
                                            <div>
                                                <div>
                                                    <h4>
                                                        <span>
                                                            <a target="_blank">
                                                                <img class="pic-right" src="/assets/img/mini-art.png" width="65" height="37"></a></span>Old of Tanks - мод на Panzer War основанный на World of Tanks 2010-2014 года.
                                                                Вас ждет полноценный оффлайн режим с ветками прокачки, которые не будут ссылаться к определенной версии игры. Возможно добавление своей техники, либо танков, которые по тем или иным причинам планировались WG, но остались вне проекта.
                                                    </h4>
                                                    <p>&nbsp;</p>
                                                    <p><span
                                                            style="color: #9e9c89; font-family: arial, sans-serif; font-size: 20px; line-height: 20px; text-transform: uppercase;"><strong><span
                                                                    style="color: #bfbeb6; font-family: arial, sans-serif; font-size: 18px; line-height: 21px;">Полная
                                                                    версия клиента — 0.1.0 (5,2 Гб)</span></strong></span></p>
                                                    <p>&nbsp;</p>
                                                    <p><span style="line-height: 15px;"><a class="fin-reg-bt-download"
                                                                href="https://drive.google.com/u/0/uc?id=1aHSg8rwtVDpXJoYW0G0rZcCc680qNppZ&amp;export=download&amp;confirm=t&amp;uuid=9d29dc9d-4b5f-4c55-b38d-8a95a1db9e66&amp;at=ALgDtszQt2FOOaGAinO_NSP-uGzd:1675860564011"
                                                                style="
                                            font: 1.7em/1 &quot;Conv_zurichcondbold3-webfont&quot;,arial,sans-serif;
                                        ">Скачать полную версию</a></span></p>
                                                    Кроме того, вы можете <a
                                                        href="https://drive.google.com/u/0/uc?id=1uZyis01LBsx8s_P65Np0AzHTYAdX6GBo&amp;export=download&amp;confirm=t&amp;uuid=d0dc9929-fe9c-4df0-abeb-313d054a782b&amp;at=ALgDtsw2ky8cLlw85tJ9BK4HCZnQ:1675860797930">скачать
                                                        версию для слабых ПК</a>
                                                    .
                                                    <h4><a>Android-версия: </a><a
                                                            href="https://drive.google.com/u/0/uc?id=1GVAlTsCky9q3D3fqm6E8wptF_mVen9xU&amp;export=download&amp;confirm=t&amp;uuid=3e51c220-ba83-4011-8d89-aa6a73231a47&amp;at=ALgDtsx_9YHrt7VLWIXRHLDVHoYf:1675860888011">скачать</a>
                                                        (2,2 Гб).</h4>
                                                    <p style="
                                            margin: -2px;
                                        ">&nbsp;</p>
                                                </div>
                                                <div>
                                                    <div>
                                                        <p><span style="color: #bfbeb6; font-family: arial, sans-serif; line-height: 21px; font-size: 18px;">Системные
                                                                требования:</span></p>
                                                        <p><strong>Минимальные требования для клиента игры на персональном компьютере (LQ version):</strong></p>
                                                        <p><strong>Операционная система:</strong> Windows 7/10/11</p>
                                                        <p><strong>Процессор (CPU):</strong> AMD A8 4500M 1.90 ГГц</p>
                                                        <p><strong>Оперативная память (RAM):</strong> не менее 4-8 Гб</p>
                                                        <p><strong>Свободное место на жёстком диске:</strong> не менее 3 Гб</p>
                                                        <p><strong>Видеокарта:</strong> AMD Radeon HD 7640G 2 ГБ GDDR3</p>
                                                        <hr>
                                                        <p><strong>Минимальные требования для игры на смартфоне (LQ version):</strong></p>
                                                        <p><strong>Операционная система:</strong> Android 4.4.2 и выше</p>
                                                        <p><strong>Процессор (CPU):</strong> Qualcomm Snapdragon 625</p>
                                                        <p><strong>Свобдное место:</strong> не менее 3 Гб</p>
                                                        <p><strong>Оперативная память (RAM):</strong> не менее 2-3 Гб</p>
                                                        <p><strong>Видеоускоритель:</strong> Adreno 616</p>
                                                        <p><span style="color: #bfbeb6; font-family: arial, sans-serif; line-height: 21px; font-size: 18px;">Полезные
                                                                ссылки</span></p>
                                                    </div>
                                                    <div>
                                                        <ul>
                                                            <li><a href="{{ '/about/' | relative_url }}">Описание игры</a></li>
                                                            <li><a href="{{ '/news/common/questions-and-answers/' | relative_url }}">Вопросы и ответы</a>&nbsp;</li>
                                        
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="b-panel__b">
                                <div></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>