---
layout: default
---

<div class="l-body__section">
    <div class="l-body__section__i">
        <div class="b-tex">
            <div class="b-tex__b">
                <div class="b-tex__lr" style="min-height: 935px;">
                    <div class="b-panel">
                        <div class="b-panel__t">
                            <div></div>
                        </div>
                        <div class="b-panel__r">
                            <div class="b-panel__l">
                                <div class="b-panel__i bp__minheight">
                                    <div class="b-crumbs">
                                        <a href="{{ '/' | relative_url }}">Главная</a>
                                        <i class="darr"></i>
                                    </div>
                                    <h2 class="title">{{ page.title }}</h2>
                                    <div class="h-ugc">
                                        <p>
                                            <img src="/assets/img/art/news/contest.jpg" alt="title">
                                        </p>
                                        <div class="h-ugc">
                                            {{ content }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="b-panel__b">
                            <div></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>