---
layout: default
---

<div class="l-body__section">
    <div class="l-body__section__i">
        <div class="b-tex">
            <div class="b-tex__b">
                <div class="b-tex__lr" style="min-height: 935px;">
                    <div class="b-frame b-frame_flow">
                        <div class="b-frame__i">
                            <a href="{{ '/news/site-update/new-website/' | relative_url }}" target="_blank" style="border-width:0;">
                                <img src="/assets/img/main_news.png" alt="" width="516" height="163" style="border-width:0">
                            </a>
                        </div>
                    </div>
                    <div class="b-panel">
                        <div class="b-panel__t">
                            <div></div>
                        </div>
                        <div class="b-panel__r">
                            <div class="b-panel__l">
                                <div class="b-panel__i">
                                    {% include posts.html %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="b-panel__b">
            <div></div>
        </div>
    </div>
        {% include suggestions.html %}
    </div>
</div>